{%- if site.email -%}
<a href="mailto:{{ site.email }}" title="email"><i class="fas fa-envelope"></i></a>
{% endif %}
{%- if site.scholar_userid -%}
<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
{% endif %}
{%- if site.github_username -%}
<a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
{% endif %}
{%- if site.twitter_username -%}
<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
{% endif %}
{%- if site.mastodon_username -%}
<a rel="me" href="https://{{ site.mastodon_username }}" title="Mastodon"><i class="fab fa-mastodon"></i></a>
{% endif %}
{%- if site.bsky -%}
<a href="https://bsky.app/profile/{{ site.bsky }}.bsky.social" title="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
{% endif %}
